.main_wrap {
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
}


/* 头部样式 */

.header {
    height: 2.5rem;
    background-color: #37ab40;
    position: relative;
}

.logo {
    display: block;
    width: 4.45rem;
    height: 1.8rem;
    margin: 0.35rem auto 0;
}

.logo img {
    width: 100%;
}

.search {
    width: 1.35rem;
    height: 1.35rem;
    position: absolute;
    right: 0.75rem;
    top: 0.6rem;
    background: url(../images/icons.png) left top no-repeat;
    background-size: 3.0rem 42.0rem;
}


/* 中部滚动区域样式 */

.center_con {
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 2.5rem;
    bottom: 2.5rem/* 100px -> 2.5rem */
    ;
    /* 只出现纵向滚动条,不出现横向滚动条 */
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #efefef;
    padding-bottom: .5rem;
}

.slide {
    height: 7rem;
}

.slide img {
    width: 100%;
}

.menu_con {
    height: 9.25rem;
    background-color: white;
    margin-top: 20px;
    overflow: hidden;
}

.menu_con ul {
    margin: .6rem 0 0 1.375rem;
    height: 8.375rem;
    width: 18rem;
}

.menu_con ul li {
    width: 2.8rem;
    height: 4.05rem;
    float: left;
    margin-right: 1.625rem;
}

.menu_con li a {
    display: block;
    height: 2.8rem;
    background: url(../images/icons.png) left -3.025rem no-repeat;
    background-size: 3.0rem 42.0rem;
}

.menu_con li:nth-child(2) a {
    background-position: left -6rem;
}

.menu_con li:nth-child(3) a {
    background-position: left -9rem;
}

.menu_con li:nth-child(4) a {
    background-position: left -12rem;
}

.menu_con li:nth-child(5) a {
    background-position: left -15rem;
}

.menu_con li:nth-child(6) a {
    background-position: left -18rem;
}

.menu_con li:nth-child(7) a {
    background-position: left -21rem;
}

.menu_con li:nth-child(8) a {
    background-position: left -24rem;
}

.menu_con li:nth-child(9) a {
    background-position: left -27rem;
}

.menu_con li h2 {
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    font-size: .35rem;
    color: #666;
}

.common_model {
    height: 17.25rem;
    margin-top: 20px;
    background-color: white;
}

.common_model .common_title {
    width: 17.75rem;
    height: .9rem;
    margin: .8rem auto 0;
}

.common_model .common_title h3 {
    float: left;
    height: 0.9rem;
    font: bold .375rem/0.9rem 'Microsoft Yahei';
    color: #fbc83d;
    border-left: .25rem solid #fbc83d;
    text-indent: .4rem;
}

.common_model .common_title a {
    float: right;
    font: normal .3rem/0.9rem 'Microsoft Yahei';
    color: #7f7f7f;
}

.banner {
    display: block;
    width: 17.75rem;
    height: 4.5rem;
    margin: .5rem auto 0;
}

.banner img {
    width: 100%;
}

.good_list {
    width: 17.75rem;
    height: 9.325rem;
    margin: .5rem auto 0;
}

.good_list li {
    width: 5.9rem;
    height: 9.325rem;
    border-right: .025rem solid #e7e7e7;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.good_list li:last-child {
    border-right: 0px;
}

.goods_link {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    margin: .375rem auto 0;
}

.goods_link img {
    width: 100%;
}

.good_list h4 {
    width: 5rem;
    font: normal 15px/15px 'Microsoft Yahei';
    margin: .925rem auto 0;
    overflow: hidden;
    /* 强制文字不换行 */
    white-space: nowrap;
    /* 超出部分显示省略号 */
    text-overflow: ellipsis;
}

.unit {
    width: 5rem;
    font: normal 12px/12px 'Microsoft Yahei';
    color: #bbb;
    margin: .8rem auto 0;
}

.price {
    width: 5rem;
    font: normal 12px/12px 'Microsoft Yahei';
    color: #f40;
    margin: .5rem auto 0;
}

.add_chart {
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    right: .675rem;
    bottom: 0px;
    background: url(../images/icons.png) left -27rem no-repeat;
    background-size: 3.0rem 42.0rem;
}


/* 脚部样式 */

.footer {
    position: absolute;
    width: 100%;
    height: 2.5rem/* 100px -> 2.5rem */
    ;
    bottom: 0px;
    background-color: white;
}

.footer li {
    float: left;
    width: 25%;
    height: 100%;
}

.footer li a {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    margin: .35rem auto;
    background: url(../images/icons.png) left -30rem no-repeat;
    background-size: 3rem 42rem;
}

.footer li:nth-child(2) a {
    background-position: left -33rem;
}

.footer li:nth-child(3) a {
    background-position: left -36rem;
}

.footer li:nth-child(4) a {
    background-position: left -39rem;
}

.footer li h2 {
    font: normal 12px/.3rem 'Microsoft Yahei';
    color: #949392;
    text-align: center;
}